/*
	EDITED by 			Gorthian
	Version				0.1
	Letzte Änderung		2022-03-04
	
	GitHub				https://github.com/Gorthian/Roll20_NHKS_CharacterSheet
	Wiki				https://github.com/Gorthian/Roll20_NHKS_CharacterSheet/wiki
	Bugs & Issues		https://github.com/Gorthian/Roll20_NHKS_CharacterSheet/issues
*/


/***************************************************/
/*             GRUNDLAGEN                          */
/***************************************************/

div.sheet-wrapper {
	--sheet-bg			: #ffffff;
	--sheet-text-color	: #000000;
	--sheet-font-family	: "Arial", sans-serif;
}

p .sheet-nowrap {
	white-space			: nowrap;
}

div {
	font-family			: var(--sheet-font-family);	
}

/***************************************************/
/*             GRIDS                               */
/***************************************************/

div.sheet-NHKS {		
	background-color		: var(--sheet-bg);
	color					: var(--sheet-text-color);
	display 				: grid;
	grid-template-areas		: 	"menu"
								"content"
								"footer"
}

div.sheet-menu {
	display					: inline;
	grid-area				: menu;
}

div.sheet-content {
	display					: grid;
	grid-area				: content;
}

div.sheet-footer {
	display					: grid;
	grid-area				: footer;

	background-color		: lightgrey;
}

div.sheet-actor-sheet {
	display					: grid;
	grid-template-areas		: 	"attributes		attributes	skills"
								"advantages		movies		skills"
								"martialarts	awards		misc"
}

div.sheet-actor-attributes {
	display					: grid;
	grid-area				: attributes;
}

div.sheet-actor-skills {
	display					: grid;
	grid-area				: skills;
}

div.sheet-actor-advantages {
	display					: grid;
	grid-area				: advantages;
}

div.sheet-actor-movies {
	display					: grid;
	grid-area				: movies;
}

div.sheet-actor-martialarts {
	display					: grid;
	grid-area				: martialarts;
}

div.sheet-actor-awards {
	display					: grid;
	grid-area				: awards;
}

div.sheet-actor-misc {
	display					: grid;
	grid-area				: misc;
}

div.sheet-actor-attributes-content {
	display					: grid;
	grid-template-columns	: repeat(2, 50%);
	grid-template-areas		: 	"attributes-left		attributes-right"
}

div.sheet-actor-attributes-left {
	display					: grid;
	grid-area				: attributes-left;
}

div.sheet-actor-attributes-right {
	display					: grid;
	grid-area				: attributes-right;
}

div.sheet-actor-attributes-values {
	display					: grid;
	grid-template-columns	: repeat(2, 50%);
	grid-template-areas		: 	"attr-kno	attr-str"
								"attr-col	attr-sta"
								"attr-chi	attr-dex"
}

div.sheet-actor-attr-kno {
	grid-area				: attr-kno;
}

div.sheet-actor-attr-str {
	grid-area				: attr-str;
}

div.sheet-actor-attr-col {
	grid-area				: attr-col;
}

div.sheet-actor-attr-sta {
	grid-area				: attr-sta;
}

div.sheet-actor-attr-chi {
	grid-area				: attr-chi;
}

div.sheet-actor-attr-dex {
	grid-area				: attr-dex;
}

/***************************************************/
/*             MENU & TABS                         */
/***************************************************/
div.sheet-wrapper {
	--display-actor		: block;
	--display-role 		: none;
}

/* show the selected tab */
.sheet-tabstoggle[value="actor"] ~ div.sheet-wrapper {
	--display-actor		: block;
	--display-role 		: none;
}
.sheet-tabstoggle[value="role"] ~ div.sheet-wrapper {
	--display-actor		: none;
	--display-role 		: block;
}

div.sheet-actor{display:var(--display-actor)}
div.sheet-role{display:var(--display-role)}

div.sheet-menu button {
	width		: 30% ;
}

/***************************************************/
/*             DIVERSES                            */
/***************************************************/
div.sheet-actor-sheet div {
	margin				: 5px;
}

div.sheet-actor-sheet h1 {
	width				: 100%;
	height				: auto;
	background-color	: black;
	color				: white;
	font-size			: 1.5em;
	font-weight			: bold;
}	

div.sheet-actor-sheet input {
	border-style		: none none solid none;
}

div.sheet-actor-sheet textarea {
	height				: 30px;
}

.sheet-label {
	font-weight	: bold;
}

.sheet-label .sheet-attr-short {
	font-size	: 1.2em;
}

.sheet-label .sheet-attr-full {
	font-size	: 0.5em;
}

.sheet-input-line {
	display		: inline-flex;
	width		: 95%;
}

.sheet-input-line .sheet-label {
	display		: inline-block;
}

.sheet-actor-attributes-values .sheet-input-line input {
	flex-grow	: 1;
	width		: auto;
	height		: 100%;
	text-align	: center;
	font-weight	: bold;
	font-size	: 1.5em;
}

/*********************************/