/*
	EDITED by 			Gorthian
	Version				0.1
	Letzte Änderung		2022-03-04
	
	GitHub				https://github.com/Gorthian/Roll20_NHKS_CharacterSheet
	Wiki				https://github.com/Gorthian/Roll20_NHKS_CharacterSheet/wiki
	Bugs & Issues		https://github.com/Gorthian/Roll20_NHKS_CharacterSheet/issues
*/


/***************************************************/
/*             GRUNDLAGEN                          */
/***************************************************/

div.sheet-wrapper {
	--sheet-bg			: #ffffff;
	--sheet-text-color	: #000000;
	--sheet-font-family	: "Arial", sans-serif;
}

p .sheet-nowrap {
	white-space			: nowrap;
}

div {
	font-family			: var(--sheet-font-family);	
}

/***************************************************/
/*             GRIDS                               */
/***************************************************/

div.sheet-NHKS {		
	background-color		: var(--sheet-bg);
	color					: var(--sheet-text-color);
	display 				: grid;
	grid-template-areas		: 	"menu"
								"content"
								"footer"
}

div.sheet-menu {
	display					: inline;
	grid-area				: menu;
}

div.sheet-content {
	display					: grid;
	grid-area				: content;
}

div.sheet-footer {
	display					: grid;
	grid-area				: footer;

	background-color		: lightgrey;
}

div.sheet-actor-sheet {
	display					: grid;
	grid-template-areas		: 	"attributes		attributes	skills"
								"advantages		movies		skills"
								"martialarts	awards		misc"
}

div.sheet-actor-attributes {
	display					: grid;
	grid-area				: attributes;
}

div.sheet-actor-skills {
	display					: grid;
	grid-area				: skills;
}

div.sheet-actor-advantages {
	display					: grid;
	grid-area				: advantages;
}

div.sheet-actor-movies {
	display					: grid;
	grid-area				: movies;
}

div.sheet-actor-martialarts {
	display					: grid;
	grid-area				: martialarts;
}

div.sheet-actor-awards {
	display					: grid;
	grid-area				: awards;
}

div.sheet-actor-misc {
	display					: grid;
	grid-area				: misc;
}

/***************************************************/
/*             MENU & TABS                         */
/***************************************************/
div.sheet-wrapper {
	--display-actor		: block;
	--display-role 		: none;
}

/* show the selected tab */
.sheet-tabstoggle[value="actor"] ~ div.sheet-wrapper {
	--display-actor		: block;
	--display-role 		: none;
}
.sheet-tabstoggle[value="role"] ~ div.sheet-wrapper {
	--display-actor		: none;
	--display-role 		: block;
}

div.sheet-actor{display:var(--display-actor)}
div.sheet-role{display:var(--display-role)}

div.sheet-menu button {
	width		: 30% ;
}
/*********************************/