//
    CREATED by          Gorthian
    Version				v2.0
    Letzte Änderung		2022-11-25
    GitHub				https://github.com/Gorthian/Roll20_NHKS_CharacterSheet
    Wiki				https://github.com/Gorthian/Roll20_NHKS_CharacterSheet/wiki
    Bugs & Issues		https://github.com/Gorthian/Roll20_NHKS_CharacterSheet/issues

// Globale Variablen
-
    //- Aktuell noch nicht genutzt

//
    ********************************
    * START NHKS.pug
    ********************************

input.sheet-tabstoggle(type='hidden' name='attr_sheetTab' value='actor')
.sheet-wrapper.sheet-NHKS
  input.sheet-tabstoggle(type='hidden' name='attr_sheetTab' value='character')
  .sheet-tab-buttons
    div
      button(type='action' name='act_main')
        span.sheet-label(data-i18n='main')
    div
      button(type='action' name='act_weapons')
        span.sheet-label(data-i18n='weapons')
  .sheet-main-tab
    .sheet-general
      div
        h1
          span(data-i18n='actor')
        span.sheet-input-line
          span.sheet-label(data-i18n='name')
          input(type='text' name='attr_character_name')
        span.sheet-input-line
          span.sheet-label(data-i18n='gender')
          input(type='text' name='attr_actor-gender')
        span.sheet-input-line
          span.sheet-label(data-i18n='age')
          input(type='text' name='attr_actor-age')
        span.sheet-input-line
          span.sheet-label(data-i18n='weight')
          input(type='text' name='attr_actor-weight')
        span.sheet-input-line
          span.sheet-label(data-i18n='size')
          input(type='text' name='attr_actor-size')
        span.sheet-input-line
          span.sheet-label(data-i18n='nationality')
          input(type='text' name='attr_actor-nationality')
        p
          span.sheet-label(data-i18n='stature')
          textarea(name='attr_actor-stature' value='')
        p
          span.sheet-label(data-i18n='description')
          textarea(name='attr_actor-description' value='')
      div
        h1
          span(data-i18n='role')
        span.sheet-input-line
          span.sheet-label(data-i18n='role-name')
          input(type='text' name='attr_role-name' value='')
        span.sheet-input-line
          span.sheet-label(data-i18n='role-type')
          select(name='attr_role-type')
            option(value='main' data-i18n='main-role' selected='selected')
            option(value='supporting' data-i18n='supporting-role')
        span.sheet-input-line
          span.sheet-label(data-i18n='movieplot')
          textarea(name='attr_movieplot' value='')
        span.sheet-input-line
          span.sheet-label(data-i18n='role-description')
          textarea(name='attr_role-description' value='')
        span.sheet-input-line.sheet-height-45
          span.sheet-label(data-i18n='role-inventory')
          textarea.sheet-textarea-big(name='attr_role-inventory' value='')
    h1
      span(data-i18n='attributes')
    .sheet-attributes
      .sheet-attributes-base
        .sheet-input-line
          span.sheet-label
            button(type='action' name='act_attribute-knowledge')
              span.sheet-attr-short(data-i18n='knowledge-short')
              br
              span.sheet-attr-full(data-i18n='knowledge')
          input.sheet-attribute-value(type='number' name='attr_knowledge')
        .sheet-input-line
          span.sheet-label
            button(type='action' name='act_attribute-strength')
              span.sheet-attr-short(data-i18n='strength-short')
              br
              span.sheet-attr-full(data-i18n='strength')
          input.sheet-attribute-value(type='number' name='attr_strength')
        .sheet-input-line
          span.sheet-label
            button(type='action' name='act_attribute-coolness')
              span.sheet-attr-short(data-i18n='coolness-short')
              br
              span.sheet-attr-full(data-i18n='coolness')
          input.sheet-attribute-value(type='number' name='attr_coolness')
        .sheet-input-line
          span.sheet-label
            button(type='action' name='act_attribute-stamina')
              span.sheet-attr-short(data-i18n='stamina-short')
              br
              span.sheet-attr-full(data-i18n='stamina')
          input.sheet-attribute-value(type='number' name='attr_stamina')
        .sheet-input-line
          span.sheet-label
            button(type='action' name='act_attribute-chi')
              span.sheet-attr-short(data-i18n='chi-short')
              br
              span.sheet-attr-full(data-i18n='chi')
          input.sheet-attribute-value(type='number' name='attr_chi')
        .sheet-input-line
          span.sheet-label
            button(type='action' name='act_attribute-dexterity')
              span.sheet-attr-short(data-i18n='dexterity-short')
              br
              span.sheet-attr-full(data-i18n='dexterity')
          input.sheet-attribute-value(type='number' name='attr_dexterity')
      .sheet-attributes-calc
        .sheet-input-line
          span.sheet-attr-name(data-i18n='hitpoints')
          br
          span.sheet-attr-desc(data-i18n='hitpoints-desc')
          br
          input(type='number' name='attr_hitpoints_current')
          |  / 
          input.sheet-no-arrows(type='number' name='attr_hitpoints_max' readonly='')
          br
          span.sheet-attr-name(data-i18n='role')
          br
          input(type='number' name='attr_role_hitpoints_current')
          |  / 
          input.sheet-no-arrows(type='number' name='attr_role_hitpoints_max' readonly='')
        .sheet-input-line
          span.sheet-attr-name(data-i18n='chipoints')
          br
          span.sheet-attr-desc(data-i18n='chipoints-desc')
          br
          input(type='number' name='attr_chipoints_current')
          |  / 
          input.sheet-no-arrows(type='number' name='attr_chipoints_max' readonly='')
          br
          span.sheet-attr-name(data-i18n='role')
          br
          input(type='number' name='attr_role_chipoints_current')
          |  / 
          input.sheet-no-arrows(type='number' name='attr_role_chipoints_max' readonly='')
        .sheet-input-line
          button(type='action' name='act_initiative')
            span.sheet-attr-name(data-i18n='initiative')
          span.sheet-attr-desc(data-i18n='initiative-desc')
          br
          input.sheet-no-arrows(type='number' name='attr_initiative' readonly='')
        .sheet-input-line
          span.sheet-attr-name(data-i18n='famepoints')
          br
          input(type='number' name='attr_famepoints')
          br
          span.sheet-attr-name(data-i18n='awardpoints')
          br
          input(type='number' name='attr_awardpoints')
          br
          span.sheet-attr-name(data-i18n='take2points')
          br
          input(type='number' name='attr_take2points')
        .sheet-input-line
          span.sheet-attr-name(data-i18n='melee-attack')
          br
          span.sheet-attr-desc(data-i18n='melee-attack-desc')
          br
          input.sheet-no-arrows(type='number' name='attr_melee-attack' readonly='')
          br
          span.sheet-attr-name(data-i18n='melee-defense')
          br
          span.sheet-attr-desc(data-i18n='melee-defense-desc')
          br
          input.sheet-no-arrows(type='number' name='attr_melee-defense' readonly='')
          br
          span.sheet-attr-name(data-i18n='melee-damage')
          br
          span.sheet-attr-desc(data-i18n='melee-damage-desc')
          br
          input.sheet-no-arrows(type='number' name='attr_melee-damage' readonly='')
        .sheet-input-line
          span.sheet-attr-name(data-i18n='ranged-attack')
          br
          span.sheet-attr-desc(data-i18n='ranged-attack-desc')
          br
          input.sheet-no-arrows(type='number' name='attr_ranged-attack' readonly='')
          br
          span.sheet-attr-name(data-i18n='ranged-damage')
          br
          span.sheet-attr-desc(data-i18n='ranged-damage-desc')
          br
          input.sheet-no-arrows(type='number' name='attr_ranged-damage' readonly='')
    .sheet-skills
      .sheet-skills-left
        .sheet-skill-list
          h1
            span(data-i18n='skills')
          .sheet-skill-entry
            .sheet-skill-name.sheet-label
              span(data-i18n='skill')
            .sheet-skill-attribute.sheet-label
              span(data-i18n='attribute')
            .sheet-skill-value.sheet-label
              span(data-i18n='skill-value-actor')
            .sheet-skill-value.sheet-label
              span(data-i18n='is-role-skill')
            .sheet-skill-value.sheet-label
              span(data-i18n='skill-value-role')
          .sheet-skill-entry
            .sheet-skill-name
              button(type='action' name='act_skill-acrobatic')
                span(data-i18n='acrobatic')
            .sheet-skill-attribute
              select(name='attr_skill-acrobatic-attribute' readonly='')
                option(value='dexterity' data-i18n='dexterity-short' selected='selected')
            .sheet-skill-value
              input(type='number' name='attr_skill-acrobatic')
            .sheet-skill-value
              input(type='checkbox' name='attr_skill-acrobatic-is-role-skill' value='1')
            .sheet-skill-value
              input(type='number' name='attr_skill-acrobatic-role' readonly='')
          .sheet-skill-entry
            .sheet-skill-name
              button(type='action' name='act_skill-athletic')
                span(data-i18n='athletic')
            .sheet-skill-attribute
              select(name='attr_skill-athletic-attribute')
                option(value='strength' data-i18n='strength-short' selected='selected')
                option(value='stamina' data-i18n='stamina-short')
            .sheet-skill-value
              input(type='number' name='attr_skill-athletic')
            .sheet-skill-value
              input(type='checkbox' name='attr_skill-athletic-is-role-skill' value='1')
            .sheet-skill-value
              input(type='number' name='attr_skill-athletic-role' readonly='')
          .sheet-skill-entry
            .sheet-skill-name
              button(type='action' name='act_skill-dodge')
                span(data-i18n='dodge')
            .sheet-skill-attribute
              select(name='attr_skill-dodge-attribute' readonly='')
                option(value='dexterity' data-i18n='dexterity-short' selected='selected')
            .sheet-skill-value
              input(type='number' name='attr_skill-dodge')
            .sheet-skill-value
              input(type='checkbox' name='attr_skill-dodge-is-role-skill' value='1')
            .sheet-skill-value
              input(type='number' name='attr_skill-dodge-role' readonly='')
          .sheet-skill-entry
            .sheet-skill-name
              button(type='action' name='act_skill-boats')
                span(data-i18n='boats')
            .sheet-skill-attribute
              select(name='attr_skill-boats-attribute')
                option(value='knowledge' data-i18n='knowledge-short' selected='selected')
                option(value='dexterity' data-i18n='dexterity-short')
            .sheet-skill-value
              input(type='number' name='attr_skill-boats')
            .sheet-skill-value
              input(type='checkbox' name='attr_skill-boats-is-role-skill' value='1')
            .sheet-skill-value
              input(type='number' name='attr_skill-boats-role' readonly='')
          .sheet-skill-entry
            .sheet-skill-name
              button(type='action' name='act_skill-persuade')
                span(data-i18n='persuade')
            .sheet-skill-attribute
              select(name='attr_skill-persuade-attribute')
                option(value='coolness' data-i18n='coolness-short' selected='selected')
                option(value='strength' data-i18n='strength-short')
            .sheet-skill-value
              input(type='number' name='attr_skill_persuade')
            .sheet-skill-value
              input(type='checkbox' name='attr_skill-persuade-is-role-skill' value='1')
            .sheet-skill-value
              input(type='number' name='attr_skill-persuade-role' readonly='')
          .sheet-skill-entry
            .sheet-skill-name
              button(type='action' name='act_skill-computers')
                span(data-i18n='computers')
            .sheet-skill-attribute
              select(name='attr_skill-computers-attribute' readonly='')
                option(value='knowledge' data-i18n='knowledge-short' selected='selected')
            .sheet-skill-value
              input(type='number' name='attr_skill-computers')
            .sheet-skill-value
              input(type='checkbox' name='attr_skill-computers-is-role-skill' value='1')
            .sheet-skill-value
              input(type='number' name='attr_skill-computers-role' readonly='')
          .sheet-skill-entry
            .sheet-skill-name
              button(type='action' name='act_skill-firstaid')
                span(data-i18n='firstaid')
            .sheet-skill-attribute
              select(name='attr_skill-firstaid-attribute' readonly='')
                option(value='knowledge' data-i18n='knowledge-short' selected='selected')
            .sheet-skill-value
              input(type='number' name='attr_skill-firstaid')
            .sheet-skill-value
              input(type='checkbox' name='attr_skill-firstaid-is-role-skill' value='1')
            .sheet-skill-value
              input(type='number' name='attr_skill-firstaid-role' readonly='')
          .sheet-skill-entry
            .sheet-skill-name
              button(type='action' name='act_skill-extremesport')
                span(data-i18n='extremesport')
            .sheet-skill-attribute
              select(name='attr_skill-extremesport-attribute')
                option(value='strength' data-i18n='strength-short' selected='selected')
                option(value='stamina' data-i18n='stamina-short')
                option(value='dexterity' data-i18n='dexterity-short')
            .sheet-skill-value
              input(type='number' name='attr_skill-extremesport')
            .sheet-skill-value
              input(type='checkbox' name='attr_skill-extremesport-is-role-skill' value='1')
            .sheet-skill-value
              input(type='number' name='attr_skill-extremesport-role' readonly='')
          .sheet-skill-entry
            .sheet-skill-name
              button(type='action' name='act_skill-slideofhand')
                span(data-i18n='slideofhand')
            .sheet-skill-attribute
              select(name='attr_skill-slideofhand-attribute' readonly='')
                option(value='dexterity' data-i18n='dexterity-short' selected='selected')
            .sheet-skill-value
              input(type='number' name='attr_skill-slideofhand')
            .sheet-skill-value
              input(type='checkbox' name='attr_skill-slideofhand-is-role-skill' value='1')
            .sheet-skill-value
              input(type='number' name='attr_skill-slideofhand-role' readonly='')
          .sheet-skill-entry
            .sheet-skill-name
              button(type='action' name='act_skill-aircrafts')
                span(data-i18n='aircrafts')
            .sheet-skill-attribute
              select(name='attr_skill-aircrafts-attribute')
                option(value='knowledge' data-i18n='knowledge-short' selected='selected')
                option(value='dexterity' data-i18n='dexterity-short')
            .sheet-skill-value
              input(type='number' name='attr_skill-aircrafts')
            .sheet-skill-value
              input(type='checkbox' name='attr_skill-aircrafts-is-role-skill' value='1')
            .sheet-skill-value
              input(type='number' name='attr_skill-aircrafts-role' readonly='')
          .sheet-skill-entry
            .sheet-skill-name
              button(type='action' name='act_skill-vehicles')
                span(data-i18n='vehicles')
            .sheet-skill-attribute
              select(name='attr_skill-vehicles-attribute')
                option(value='knowledge' data-i18n='knowledge-short' selected='selected')
                option(value='dexterity' data-i18n='dexterity-short')
            .sheet-skill-value
              input(type='number' name='attr_skill-vehicles')
            .sheet-skill-value
              input(type='checkbox' name='attr_skill-vehicles-is-role-skill' value='1')
            .sheet-skill-value
              input(type='number' name='attr_skill-vehicles-role' readonly='')
          .sheet-skill-entry
            .sheet-skill-name
              button(type='action' name='act_skill-improvisation')
                span(data-i18n='improvisation')
            .sheet-skill-attribute
              select(name='attr_skill-improvisation-attribute')
                option(value='knowledge' data-i18n='knowledge-short' selected='selected')
                option(value='strength' data-i18n='strength-short')
                option(value='coolness' data-i18n='coolness-short')
                option(value='stamina' data-i18n='stamina-short')
                option(value='chi' data-i18n='chi-short')
                option(value='dexterity' data-i18n='dexterity-short')
            .sheet-skill-value
              input(type='number' name='attr_skill-improvisation')
            .sheet-skill-value
              input(type='checkbox' name='attr_skill-improvisation-is-role-skill' value='1')
            .sheet-skill-value
              input(type='number' name='attr_skill-improvisation-role' readonly='')
          .sheet-skill-entry
            .sheet-skill-name
              button(type='action' name='act_skill-climbing')
                span(data-i18n='climbing')
            .sheet-skill-attribute
              select(name='attr_skill-climbing-attribute')
                option(value='strength' data-i18n='strength-short' selected='selected')
                option(value='stamina' data-i18n='stamina-short')
                option(value='dexterity' data-i18n='dexterity-short')
            .sheet-skill-value
              input(type='number' name='attr_skill-climbing')
            .sheet-skill-value
              input(type='checkbox' name='attr_skill-climbing-is-role-skill' value='1')
            .sheet-skill-value
              input(type='number' name='attr_skill-climbing-role' readonly='')
          .sheet-skill-entry
            .sheet-skill-name
              button(type='action' name='act_skill-contacts')
                span(data-i18n='contacts')
            .sheet-skill-attribute
              select(name='attr_skill-contacts-attribute')
                option(value='knowledge' data-i18n='knowledge-short' selected='selected')
                option(value='coolness' data-i18n='coolness-short')
            .sheet-skill-value
              input(type='number' name='attr_skill-contacts')
            .sheet-skill-value
              input(type='checkbox' name='attr_skill-contacts-is-role-skill' value='1')
            .sheet-skill-value
              input(type='number' name='attr_skill-contacts-role' readonly='')
          .sheet-skill-entry
            .sheet-skill-name
              button(type='action' name='act_skill-mechanic')
                span(data-i18n='mechanic')
            .sheet-skill-attribute
              select(name='attr_skill-mechanic-attribute' readonly='')
                option(value='knowledge' data-i18n='knowledge-short' selected='selected')
            .sheet-skill-value
              input(type='number' name='attr_skill-mechanic')
            .sheet-skill-value
              input(type='checkbox' name='attr_skill-mechanic-is-role-skill' value='1')
            .sheet-skill-value
              input(type='number' name='attr_skill-mechanic-role' readonly='')
          .sheet-skill-entry
            .sheet-skill-name
              button(type='action' name='act_skill-stealth')
                span(data-i18n='stealth')
            .sheet-skill-attribute
              select(name='attr_skill-stealth-attribute' readonly='')
                option(value='dexterity' data-i18n='dexterity-short' selected='selected')
            .sheet-skill-value
              input(type='number' name='attr_skill-stealth')
            .sheet-skill-value
              input(type='checkbox' name='attr_skill-stealth-is-role-skill' value='1')
            .sheet-skill-value
              input(type='number' name='attr_skill-stealth-role' readonly='')
          .sheet-skill-entry
            .sheet-skill-name
              button(type='action' name='act_skill-perception')
                span(data-i18n='perception')
            .sheet-skill-attribute
              select(name='attr_skill-perception-attribute' readonly='')
                option(value='chi' data-i18n='chi-short' selected='selected')
            .sheet-skill-value
              input(type='number' name='attr_skill-perception')
            .sheet-skill-value
              input(type='checkbox' name='attr_skill-perception-is-role-skill' value='1')
            .sheet-skill-value
              input(type='number' name='attr_skill-perception-role' readonly='')
          .sheet-skill-entry
            .sheet-skill-name
              button(type='action' name='act_skill-languages')
                span(data-i18n='languages')
            .sheet-skill-attribute
              select(name='attr_skill-languages-attribute')
                option(value='knowledge' data-i18n='knowledge-short' selected='selected')
                option(value='coolness' data-i18n='coolness-short')
            .sheet-skill-value
              input(type='number' name='attr_skill-languages')
            .sheet-skill-value
              input(type='checkbox' name='attr_skill-languages-is-role-skill' value='1')
            .sheet-skill-value
              input(type='number' name='attr_skill-languages-role' readonly='')
          .sheet-skill-entry
            .sheet-skill-name
              button(type='action' name='act_skill-searching')
                span(data-i18n='searching')
            .sheet-skill-attribute
              select(name='attr_skill-searching-attribute')
                option(value='knowledge' data-i18n='knowledge-short' selected='selected')
                option(value='chi' data-i18n='chi-short')
            .sheet-skill-value
              input(type='number' name='attr_skill-searching')
            .sheet-skill-value
              input(type='checkbox' name='attr_skill-searching-is-role-skill' value='1')
            .sheet-skill-value
              input(type='number' name='attr_skill-searching-role' readonly='')
          .sheet-skill-entry
            .sheet-skill-name
              button(type='action' name='act_skill-hiding')
                span(data-i18n='hiding')
            .sheet-skill-attribute
              select(name='attr_skill-hiding-attribute')
                option(value='knowledge' data-i18n='knowledge-short' selected='selected')
                option(value='dexterity' data-i18n='dexterity-short')
            .sheet-skill-value
              input(type='number' name='attr_skill-hiding')
            .sheet-skill-value
              input(type='checkbox' name='attr_skill-hiding-is-role-skill' value='1')
            .sheet-skill-value
              input(type='number' name='attr_skill-hiding-role' readonly='')
          h1
            span(data-i18n='combat')
          .sheet-combat-entry
            .sheet-label
              span(data-i18n='attack')
            .sheet-label
              span(data-i18n='parry')
            .sheet-label
              span(data-i18n='skill-value-actor')
            .sheet-label
              span(data-i18n='is-role-skill')
            .sheet-label
              span(data-i18n='skill-value-role')
          .sheet-combat-entry
            .sheet-combat-attack
              button(type='action' name='act_combat-melee-small')
                span(data-i18n='melee-small')
            .sheet-combat-parry
              button(type='action' name='act_combat-melee-small-parry')
                span(data-i18n='parry')
            .sheet-combat-value
              input(type='number' name='attr_skill-melee-small')
            .sheet-combat-value
              input(type='checkbox' name='attr_skill-melee-small-is-role-skill' value='1')
            .sheet-combat-value
              input(type='number' name='attr_skill-melee-small-role' readonly='')
          .sheet-combat-entry
            .sheet-combat-attack
              button(type='action' name='act_combat-melee-medium')
                span(data-i18n='melee-medium')
            .sheet-combat-parry
              button(type='action' name='act_combat-melee-medium-parry')
                span(data-i18n='parry')
            .sheet-combat-value
              input(type='number' name='attr_skill-melee-medium')
            .sheet-combat-value
              input(type='checkbox' name='attr_skill-melee-medium-is-role-skill' value='1')
            .sheet-combat-value
              input(type='number' name='attr_skill-melee-medium-role' readonly='')
          .sheet-combat-entry
            .sheet-combat-attack
              button(type='action' name='act_combat-melee-big')
                span(data-i18n='melee-big')
            .sheet-combat-parry
              button(type='action' name='act_combat-melee-big-parry')
                span(data-i18n='parry')
            .sheet-combat-value
              input(type='number' name='attr_skill-melee-big')
            .sheet-combat-value
              input(type='checkbox' name='attr_skill-melee-big-is-role-skill' value='1')
            .sheet-combat-value
              input(type='number' name='attr_skill-melee-big-role' readonly='')
          .sheet-combat-entry
            .sheet-combat-attack
              button(type='action' name='act_combat-pistols')
                span(data-i18n='pistols')
            .sheet-combat-parry
            .sheet-combat-value
              input(type='number' name='attr_skill-pistols')
            .sheet-combat-value
              input(type='checkbox' name='attr_skill-pistols-is-role-skill' value='1')
            .sheet-combat-value
              input(type='number' name='attr_skill-pistols-role' readonly='')
          .sheet-combat-entry
            .sheet-combat-attack
              button(type='action' name='act_combat-rifles')
                span(data-i18n='rifles')
            .sheet-combat-parry
            .sheet-combat-value
              input(type='number' name='attr_skill-rifles')
            .sheet-combat-value
              input(type='checkbox' name='attr_skill-rifles-is-role-skill' value='1')
            .sheet-combat-value
              input(type='number' name='attr_skill-rifles-role' readonly='')
          .sheet-combat-entry
            .sheet-combat-attack
              button(type='action' name='act_combat-heavy-weapons')
                span(data-i18n='heavy-weapons')
            .sheet-combat-parry
            .sheet-combat-value
              input(type='number' name='attr_skill-heavy-weapons')
            .sheet-combat-value
              input(type='checkbox' name='attr_skill-heavy-weapons-is-role-skill' value='1')
            .sheet-combat-value
              input(type='number' name='attr_skill-heavy-weapons-role' readonly='')
          .sheet-combat-entry
            .sheet-combat-attack
              button(type='action' name='act_combat-melee-misc')
                span(data-i18n='melee-misc')
            .sheet-combat-parry
              button(type='action' name='act_combat-melee-misc-parry')
                span(data-i18n='parry')
            .sheet-combat-value
              input(type='number' name='attr_skill-melee-misc')
            .sheet-combat-value
              input(type='checkbox' name='attr_skill-melee-misc-is-role-skill' value='1')
            .sheet-combat-value
              input(type='number' name='attr_skill-melee-misc-role' readonly='')
          .sheet-combat-entry
            .sheet-combat-attack
              button(type='action' name='act_combat-ranged-misc')
                span(data-i18n='ranged-misc')
            .sheet-combat-parry
            .sheet-combat-value
              input(type='number' name='attr_skill-ranged-misc')
            .sheet-combat-value
              input(type='checkbox' name='attr_skill-ranged-misc-is-role-skill' value='1')
            .sheet-combat-value
              input(type='number' name='attr_skill-ranged-misc-role' readonly='')
          .sheet-combat-entry
            .sheet-combat-attack
              button(type='action' name='act_combat-unarmed')
                span(data-i18n='unarmed')
            .sheet-combat-parry
              button(type='action' name='act_combat-unarmed-parry')
                span(data-i18n='parry')
            .sheet-combat-value
              input(type='number' name='attr_skill-unarmed')
            .sheet-combat-value
              input(type='checkbox' name='attr_skill-unarmed-is-role-skill' value='1')
            .sheet-combat-value
              input(type='number' name='attr_skill-unarmed-role' readonly='')
        div
          h1
            span(data-i18n='misc')
          textarea(name='attr_actor-misc' value='')
      .sheet-skills-right
        div
          h1
            span(data-i18n='advantages-and-disadvantages')
          fieldset.repeating_actor-advantages-disadvantages
            .sheet-actor-advantage
              input(type='text' name='attr_actor-advantage-name' value='')
              textarea(name='attr_actor-advantage-description' value='')
              span.sheet-label(data-i18n='is-role-advantage')
              input(type='checkbox' name='attr_actor-advantage-is-role-advantage' value='1')
        .sheet-martialarts
          h1
            span(data-i18n='martialarts')
          fieldset.repeating_actor-martialarts
            .sheet-martialarts
              input(type='text' name='attr_actor-martialarts-name' value='')
              .sheet-radio-set
                input.sheet-radiobox.sheet-reset(checked='checked' type='radio' name='attr_actor-martialarts-level' value='0')
                input.sheet-radiobox(type='radio' name='attr_actor-martialarts-level' value='1')
                input.sheet-radiobox(type='radio' name='attr_actor-martialarts-level' value='2')
                input.sheet-radiobox(type='radio' name='attr_actor-martialarts-level' value='3')
                input.sheet-radiobox(type='radio' name='attr_actor-martialarts-level' value='4')
                input.sheet-radiobox(type='radio' name='attr_actor-martialarts-level' value='5')
              textarea(name='attr_actor-martialarts-description' value='')
        .sheet-movies
          h1
            span(data-i18n='movies')
          fieldset.repeating_actor-movies
            .sheet-movies
              input(type='text' name='attr_actor-movie-name' value='')
              .sheet-radio-set
                input.sheet-radiobox.sheet-reset(checked='checked' type='radio' name='attr_movie-award' value='0')
                input.sheet-radiobox(type='radio' name='attr_movie-award' value='1')
                input.sheet-radiobox(type='radio' name='attr_movie-award' value='2')
                input.sheet-radiobox(type='radio' name='attr_movie-award' value='3')
                input.sheet-radiobox(type='radio' name='attr_movie-award' value='4')
                input.sheet-radiobox(type='radio' name='attr_movie-award' value='5')
        div
          h1
            span(data-i18n='awards')
          textarea(name='attr_actor-awards' value='')
  .sheet-weapon-tab
    h1
      span(data-i18n='role-weapons')
    .sheet-role-weapon-table
      fieldset.repeating_role-weapons
        .sheet-weapon-entry
          div
            .sheet-input-line
              span.sheet-label(data-i18n='role-weapon-name')
              input(type='text' name='attr_weapon-name')
            .sheet-input-line
              span.sheet-label(data-i18n='role-weapon-damage')
              input(type='number' name='attr_weapon-damage')
            .sheet-input-line
              span.sheet-label(data-i18n='role-weapon-strength')
              input(type='number' name='attr_weapon-strength')
            .sheet-input-line
              span.sheet-label(data-i18n='skill')
              select(name='attr_weapon-skill')
                option(value='melee-small' data-i18n='melee-small' selected='selected')
                option(value='melee-medium' data-i18n='melee-medium' selected='selected')
                option(value='melee-big' data-i18n='melee-big' selected='selected')
                option(value='pistols' data-i18n='pistols' selected='selected')
                option(value='rifles' data-i18n='rifles' selected='selected')
                option(value='heavy-weapons' data-i18n='heavy-weapons' selected='selected')
                option(value='melee-misc' data-i18n='melee-misc' selected='selected')
                option(value='ranged-misc' data-i18n='ranged-misc' selected='selected')
                option(value='unarmed' data-i18n='unarmed' selected='selected')
            .sheet-input-line
              span.sheet-label(data-i18n='description')
              textarea(name='attr_weapon-description')
          div
            .sheet-input-line
              span.sheet-label(data-i18n='role-weapon-attention')
              input(type='checkbox' name='attr_weapon-attention')
            .sheet-input-line
              span.sheet-label(data-i18n='role-weapon-burst')
              input(type='checkbox' name='attr_weapon-burst')
            .sheet-input-line
              span.sheet-label(data-i18n='role-weapon-flexible')
              input(type='checkbox' name='attr_weapon-flexible')
            .sheet-input-line
              span.sheet-label(data-i18n='role-weapon-grib')
              input(type='checkbox' name='attr_weapon-grib')
            .sheet-input-line
              span.sheet-label(data-i18n='role-weapon-delicate')
              input(type='checkbox' name='attr_weapon-delicate')
            .sheet-input-line
              span.sheet-label(data-i18n='role-weapon-reload')
              input(type='checkbox' name='attr_weapon-reload')
            .sheet-input-line
              span.sheet-label(data-i18n='role-weapon-martial')
              input(type='checkbox' name='attr_weapon-martial')
            .sheet-input-line
              span.sheet-label(data-i18n='role-weapon-recoil')
              input(type='checkbox' name='attr_weapon-recoil')
            .sheet-input-line
              span.sheet-label(data-i18n='role-weapon-painful')
              input(type='checkbox' name='attr_weapon-painful')
            .sheet-input-line
              span.sheet-label(data-i18n='role-weapon-painful+')
              input(type='checkbox' name='attr_weapon-painful+')
            .sheet-input-line
              span.sheet-label(data-i18n='role-weapon-whip')
              input(type='checkbox' name='attr_weapon-whip')
            .sheet-input-line
              span.sheet-label(data-i18n='role-weapon-defense')
              input(type='checkbox' name='attr_weapon-defense')
            .sheet-input-line
              span.sheet-label(data-i18n='role-weapon-throw')
              input(type='checkbox' name='attr_weapon-throw')
            .sheet-input-line
              span.sheet-label(data-i18n='role-weapon-2handbonus')
              input(type='checkbox' name='attr_weapon-2handbonus')
            .sheet-input-line
              span.sheet-label(data-i18n='role-weapon-2hand')
              input(type='checkbox' name='attr_weapon-2hand')
            .sheet-input-line
              span.sheet-label(data-i18n='role-weapon-twin')
              input(type='checkbox' name='attr_weapon-twin')
        br
  .sheet-footer
    | Created by Gorthian | Supported by Hitdice | Copyright by Black Mask Verlag
    br
    | More Infos: https://github.com/Gorthian/Roll20_NHKS_CharacterSheet


<!-- Roll Templates /-->
<rolltemplate class="sheet-rolltemplate-skill">
    <div class="sheet-template-container">
        <div class="sheet-template-header">{{name}}</div>
		<div class="sheet-template-header"><span data-i18n="{{type}}"></span>{{role-name}}</div>
        <div class="sheet-template-row">
			<div class="sheet-template-key">{{skill}}</div>
			<div class="sheet-template-value">{{skillValue}}</div>
		</div>
		<div class="sheet-template-row">
			<div class="sheet-template-key">{{attribute}}</div>
			<div class="sheet-template-value">{{attributeValue}}</div>
		</div>
		<div class="sheet-template-row">
			<div class="sheet-template-key"><span data-i18n="target-value"></span></div>
			<div class="sheet-template-value">{{target}}</div>
		</div>
		<div class="sheet-template-row">
			<div class="sheet-template-key"><span data-i18n="roll"></span></div>
			<div class="sheet-template-value">{{roll1}}</div>
		</div>
		<div class="sheet-template-result">{{computed::roll1}}</div>
    </div>
</rolltemplate>

<rolltemplate class="sheet-rolltemplate-attribute">
    <div class="sheet-template-container">
        <div class="sheet-template-header">{{name}}</div>
		<div class="sheet-template-row">
			<div class="sheet-template-key">{{attribute}}</div>
			<div class="sheet-template-value">{{attributeValue}}</div>
		</div>
		<div class="sheet-template-row">
			<div class="sheet-template-key"><span data-i18n="target-value"></span></div>
			<div class="sheet-template-value">{{target}}</div>
		</div>
		<div class="sheet-template-row">
			<div class="sheet-template-key"><span data-i18n="roll"></span></div>
			<div class="sheet-template-value">{{roll1}}</div>
		</div>		
		<div class="sheet-template-result">{{computed::roll1}}</div>		
    </div>
</rolltemplate>

<rolltemplate class="sheet-rolltemplate-initiative">
    <div class="sheet-template-container">
        <div class="sheet-template-header">{{name}}</div>
		<div class="sheet-template-row">
			<div class="sheet-template-key">{{initiative}}</div>
			<div class="sheet-template-value">{{roll1}}</div>
		</div>		
		<div class="sheet-template-result">
			<span data-i18n="rolltemplate-intiative-desc"></span>
		</div>	
    </div>
</rolltemplate>



// SHEET WORKERS
script(type="text/worker")
    include src/js/sheetworker.js

//
    ********************************
    * ENDE NHKS.pug
    ********************************